@font-face {
	font-family: 'KoreaMapFontV1';
	src: url("../font/korea-map-font-v1.eot");
	src: url("../font/korea-map-font-v1.eot?#iefix") format("embedded-opentype"), url("../font/korea-map-font-v1.woff") format("woff"), url("../font/korea-map-font-v1.ttf") format("truetype"), url("../font/korea-map-font-v1.svg#koreamapfontv1regular") format("svg");
	font-weight: normal;
	font-style: normal;
}

.korea-map-font-v1 {
	font: normal normal 300px/100% "KoreaMapFontV1";
	font-size-adjust: none;
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	-ms-text-rendering: optimizeLegibility;
	-o-text-rendering: optimizeLegibility;
	text-rendering: optimizeLigibility;
	-moz-font-feature-settings: "liga-1";
	-ms-font-feature-settings: "liga" 1;
	-ms-font-feature-settings: "liga", "dlig";
	
	width: 300px;
	display: block;
	margin: 0 auto;
	padding: 0;
	list-style: none;
}
.korea-map-font-v1 li {
    float: left;
    margin: -20% 0 0 -100%;
    position: relative;
    left: 101%;
    width: 100%;
    font-size: 1200px;
    cursor: default;
    display: inline;
    -webkit-transition: all 1s ease-in;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	transform: translateX(-450px) translateY(400px);

}
/* 지도의 크기와 기본 색상을 설정합니다. */
.korea-map-font-v1 {
	/* 전체 지도의 크기를 설정 */ /* 글자 크기를 설정 */
  color: #9a9898e2; /* 기본 색상 */
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0 auto; /* 지도를 중앙에 배치 */
}


.korea-map-font-v1 li {
  
  transition: transform 0.3s, color 0.3s; /* 부드러운 전환 효과 */
  display: inline-block;
  padding: 5px; /* 텍스트와 테두리 사이의 간격 */
  box-sizing: border-box; /* 패딩을 포함한 박스 모델 */
  color: inherit; /* 부모 요소의 색상을 상속받음 */
}


.강원, .경기, .경남, .경북, .광주, .대구, .대전, .부산, .서울, .세종, .울산, .인천, .전남, .전북, .제주, .충남, .충북 {
  text-shadow: 
	  -1px -1px 0 black,
	  1px -1px 0 black,
	  -1px  1px 0 black,
	  1px  1px 0 black;
  display: inline-block;
  padding: 5px; /* 텍스트와 그림자 사이의 간격 */

  transition: transform 0.3s, color 0.3s; /* 부드러운 전환 효과 */
}





li{

  font-size: 200%;
  text-align: left;
  transition: font-size 0.3s ease-in-out; /* font-size 변화에 부드러운 전환 적용 */

  
}


/* 행정구역별 색상을 지정합니다. */

.click>div{
  
  
  border: 1px solid black;
  z-index: 10px;

}
.click{

  display: flex;
  position: relative;

}
.a1{

  margin-top: 250px;
  margin-left: 1260px;
  z-index: 100;
  height: 200px;
  width: 170px;
  cursor: pointer;


}
.b1{
  width: 170px;
  height: 170px;
  margin-top: 300px;
  margin-left: -390px;

  
}
.c1{
  width: 250px;
  height: 100px;
  margin-top: 770px;
  margin-left:40px;

}
.d1{
  width: 190px;
  height: 180px;
  margin-top: 545px;
  margin-left: -200px;
}
.m1{
  width: 210px;
  height: 170px;
  margin-top: 830px;
  margin-left: -500px;

}
.n1{

  width: 180px;
  height: 120px;
  margin-top: 700px;
  margin-left: -170px;

}
.제주{

  text-indent: -400px;
  top: 150px;
  
}
.p1{
  width: 170px;
  height: 150px;
  margin-top: 520px;
  margin-left: -200px;


}
.q1{
  width: 80px;
  height: 150px;
  margin-top: 500px;


}
.q2{
  width: 90px;
  height: 50px;
  margin-top: 480px;


}
.o1{
  width: 130px;
  height: 70px;
  margin-top: 1125px;
  margin-left: -350px;


}
@media screen and (max-width: 768px) {

    .korea-map-font-v1 {
		margin-top: 250px;
		margin-left: 30px;
        font-size: 150px; /* 지도 글자의 크기를 조정 */
    }

    .korea-map-font-v1 li {
        font-size: 1200px; /* 각 지역 글자의 크기를 조정 */
        transform: translateX(-225px) translateY(200px); /* 위치 조정 */
    }
	.제주{
	
		margin-left: 400px;
		top: 130px;
		text-indent: -450px;	

	}
	.click{

		position: relative;
	}
	.a1{
		
		margin-top: -30px;
	}
	.b1{

		margin-top: 40px;
		margin-left: -370px;

	}
	.c1{
		margin-top: 500px;


	}
	.d1{
		margin-top: 280px;
	}
	.m1{
		margin-top: 550px;
		
	}
	.n1{

		margin-top: 420px;

	}
	.q1{
		margin-top:220px;
		margin-left: 10px;
		width: 70px;

	}
	.q2{

		margin-top: 210px;
		margin-left: 20px;
	}
	.p1{
		margin-top: 240px;


	}
	.o1{
		margin-top: 830px;
		margin-left: -450px;
	
	}



}




